@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Poppins, sans-serif;
}

#root {
  max-width: 1280px;
  min-width: 400px;
}

.field {
  @apply flex flex-col
}

.label {
  @apply text-xs font-normal pb-2
}

.input {
  @apply p-2 rounded-md border border-gray-300 border-solid hover:border-gray-500 focus:border-purple-500 duration-500 ease-linear outline-none shadow-none text-sm
}

.error {
  @apply text-xs h-4 text-red-600
}

.submit-button {
  @apply font-medium p-2 border border-gray-300 border-solid rounded hover:border-indigo-300 hover:text-indigo-500 duration-500 ease-linear disabled:border-gray-400 disabled:text-gray-400
}

.svg-icon {
  transition: fill 0.3s ease;
}

.button:hover .svg-icon {
  fill: #EC4747;
}

.button:disabled .svg-icon {
  fill: gray;
}